<ion-header-bar align-title="left" class="bar-positive">
    <h1 class="title">Neuer Post</h1>
    <div class="buttons">
        <a href="#/posts" class="button button-assertive">
            Abbrechen
        </a>
    </div>
</ion-header-bar>
<div class="content has-header" flow-init="{testChunks: false}" flow-complete="goToPosts()">
    <div class="list">
        <label class="item item-input">
            <textarea ng-model="newPost.text" rows="4" placeholder="Text" focus-me></textarea>
        </label>
        <div class="item item-divider">
            Bilder
        </div>
        <div class="item item-thumbnail-left item-button-right" ng-repeat="file in $flow.files">
            <img flow-img="file" />
            <h2>{{file.name}}</h2>
            <button class="button button-assertive" ng-click="file.cancel()">
                <i class="icon ion-close-circled"></i>
            </button>
        </div>
        <div class="item item-button-right" ng-hide="$flow.files.length">
            Keine Bilder.
            <button class="button button-stable" type="file" name="avatar" flow-btn flow-attrs="{accept:'image/*'}">
                <i class="icon ion-images"></i>
                Bilder hinzuf&uuml;gen...
            </button>
        </div>
        <div class="item" ng-show="$flow.files.length">
            <button class="button button-stable" type="file" name="avatar" flow-btn flow-attrs="{accept:'image/*'}">
                <i class="icon ion-images"></i>
                Bilder hinzuf&uuml;gen...
            </button>
        </div>
    </div>
    <div class="padding">
        <button ng-click="createPost($flow)" class="button button-block button-positive">
            Post erstellen
        </button>
    </div>
</div>