<ion-header-bar align-title="left" class="bar-positive">
    <h1 class="title">Wedding</h1>
    <div class="buttons">
        <a href="#/posts/new" class="button button-positive">
            <i class="icon ion-ios-compose-outline"></i>
            Neuer Post
        </a>
    </div>
</ion-header-bar>
<ion-content ng-init="getAllPosts()">
    <ion-refresher
            pulling-text="Ziehen zum Laden..."
            on-refresh="doRefresh()">
    </ion-refresher>
    <div class="list">
        <div class="list card" ng-repeat="post in posts" ng-controller="PostCtrl" ng-include="'components/posts/partials/postView.html'"></div>
    </div>
</ion-content>