<div class="item item-avatar">
    <img ng-src="{{post.user.avatar.path.thumbnail || '/assets/images/default-profile-pic.png'}}">
    <h2>{{post.user.name}}</h2>
    <p><span am-time-ago="post.createdAt"></span></p>
</div>

<div class="item item-body">
    <img class="full-image" ng-repeat="picture in post.pictures" ng-src="{{picture.path.medium || picture.path.original}}">
    <p>{{post.text}}</p>
    <p>
        <a href="#" class="subdued">
            <ng-pluralize count="post.likes.length"
                          when="{'1': '1 Gef&auml;llt Mir - Angabe',
                                             'other': '{} Gef&auml;llt Mir - Angaben'}">
            </ng-pluralize>
        </a>
        <a ng-click="loadComments()" class="subdued">
            <ng-pluralize count="post.comments.length"
                          when="{'1': '1 Kommentar',
                                             'other': '{} Kommentare'}">
            </ng-pluralize>
        </a>
    </p>
</div>

<div class="item tabs tabs-secondary tabs-icon-left">
    <a class="tab-item" ng-click="likePost()" ng-class="{liked: post.liked}">
        <i class="icon ion-thumbsup" ng-class="{liked: post.liked}"></i>
        Gef&auml;llt Mir
    </a>
    <a class="tab-item" ng-click="loadComments()">
        <i class="icon ion-chatbox"></i>
        Kommentieren
    </a>
</div>

<ion-list class="comments" ng-show="post.showComments">
    <label class="item item-input">
        <input type="text" ng-enter="createComment()" ng-model="newComment.text" placeholder="Schreibe einen Kommentar...">
    </label>
    <div class="item item-avatar" ng-repeat="comment in post.commentsLoaded">
        <img ng-src="{{comment.user.avatar.path.thumbnail || '/assets/images/default-profile-pic.png'}}" />
        <h2>{{comment.user.name}}</h2>
        <p class="no-textbreak">{{comment.text}}</p>
        <span class="comment-time" am-time-ago="comment.createdAt"></span>
    </div>
</ion-list>