.liked {
    color: #007aff;
}

.comments .list {
    border-top: 1px solid #ddd;
}

.content, .scroll-content {
    max-width: 800px;
    margin: 0px auto;
}

.no-textbreak {
    white-space: normal !important;
}

.comment-time {
    color: #aaaaaa;
    font-size: 10px;
}

.comments .list .item {
    background-color: #f3f3f3;
}